

<!doctype html>
<html lang="en">
	<body id="body">
	<title> {% block title %}  {% endblock title %} </title>

  <head>
    <!-- Required meta tags Search Engine Optimization -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Twitting is your social media and universe ..." />
    <meta name="robots" content="Twitting, Social Media, Friendship" />
    <meta name="googlebot" content="Twitting, Social Media, Friendship" />
    <meta name="googlebot" content="notranslate" />
    <meta name="rating" content="adult" />
    <meta name="rating" content="RTA-5042-1996-1400-1577-RTA" />

    <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Font import  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Shadows+Into+Light&display=swap" rel="stylesheet">

   <!-- CSS and JS -->
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login_style.css')}}">
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
   <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>

   
    

    <header>

	<nav class="navbar bg-body-tertiary fixed-top">
 	 <div class="container-fluid">
  
	    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
	      <div class="offcanvas-header">
	        <p class="offcanvas-title" id="offcanvasNavbarLabel">Home</p>
	        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	      </div>
	      <div class="offcanvas-body">
	        <form class="d-flex mt-3" role="search">
	          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	          <button class="btn btn-outline-success" type="submit">Search</button>
	        </form>

	        <ul class="navbar-nav" id="sidebar">

	        	<li class="nav-item d-grid gap-2">
	            <a class="btn nav-button" aria-current="page" href="{{url_for('views.home')}}">
	            	<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16" id='favorite-icon'>
								  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
								</svg>
									Home
							</a>
	          </li>

	          <li class="nav-item d-grid gap-2">
	            <a class="btn nav-button" aria-current="page" href="#">
	            	<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16" id='favorite-icon'>
  									<path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
 										 <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
								</svg>
									     Favorite
							</a>
	          </li>

	          <li class="nav-item d-grid gap-2">
	            <a class="btn  nav-button" aria-current="page" href="{{url_for('views.libary')}}">
	            	<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16" id='favorite-icon'>
  								<path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
								</svg>
	            Libary</a>
	          </li>
	        </ul>

	      </div>
   	 	</div>

   	 	<div class="dropstart" id="profile">
			  <a type="button" id="dropdown_button" data-bs-toggle="dropdown" aria-expanded="false">
			    <svg id="dropdown_button" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-person" viewBox="0 0 16 16">
	  				<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
			 	</svg>
			  </a>
			  <ul class="dropdown-menu">
			    <li><a class="dropdown-item" href="#">Profile</a></li>
			   
			    {% if user.is_authenticated %}
			    	 <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a></li>
			    {% else %}
			    	<li><a class="dropdown-item" href="{{url_for('auth.login')}}">Login</a></li>
			    {% endif %}

			    {% if form.title and request.args.get('edit') != 'True'%}

			    	<li><a class="dropdown-item" href="#" onclick="addbook_visibilty('block'), clear_data()">Add Book</a></li>

			    {% endif %}
			 
			    {% if "/libary"  in request.path and not "/True" in request.path%}

			    	 <li><a class="dropdown-item" href="{{url_for('views.libary', edit = True)}}">Edit</a></li>


			    {% elif "/libary" in request.path %}

			    	 <li><a class="dropdown-item"   href="{{url_for('views.libary')}}"> Cancel </a></li>


			    {% elif "/content" in request.path %}

			    	 <li><a class="dropdown-item"  onclick="addbook_visibilty('block'), form_update()"> Edit </a></li>


			    {% endif %}
			    	
			    
			  </ul>
			    
		</div>
   		    
  </div>
</nav>

	

   </header>
<!-- Add Book OffCanvas -->
   {% if form.title %}
	   	<section class="addbook_box login-box" id="addbook_box" >
	   		<button class="btn-close" onclick="addbook_visibilty('')"></button>

	   		{% if "content" in request.path and request.args.get('edit') == 'True'%}
	   			<h2>Edit Book</h2>
	   		{% else %}
					<h2>Add Book</h2>

				{% endif %}
				<hr>

				<form class="login-form" method="POST"  enctype="multipart/form-data" onsubmit="clear_data()">

					{{ form.hidden_tag() }}

					<!-- Form Section -->

					{{ form.title.label(class="insert-header")}}

					{{ form.title(placeholder= "Enter Title", class="insert-box", id = "form-title")}}


					{{ form.volume.label(class="insert-header")}}

					{{ form.volume(placeholder= "Enter Label", class="insert-box", id = "form-volume")}}


					{{ form.author.label(class="insert-header")}}

					{{ form.author(placeholder= "Enter Author", class="insert-box", id = "form-author")}}

					{{ form.release_date.label(class="insert-header")}}

					{{ form.release_date(class="insert-box", id='form-release')}}


					{{ form.placement.label(class="insert-header")}}

					{{ form.placement(placeholder= "Enter Placement",class="insert-box", id = "form-placement")}}



					{{ form.image.label(class="insert-header")}}
				
					{% if "content" in request.path and request.args.get('edit') == 'True'%}

						{{ form.image(placeholder= "Enter Placement",class="insert-box", id='file-form')}}

					{% else %}

						{{ form.image(placeholder= "Enter Placement",class="insert-box", id='file-form', required=true)}}

					{% endif %}

					{{ form.submit(id="submit-button", onsubmit="clear_data()") }}


				</form>
		</section>
	{% endif %}


        


   {% block content %}  {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

   </body>
</html>



 

