.title-container{
	width: 10%;
}

.title-container a{
	text-decoration: none;
}



.delete-button{
	font-size: 12px;
	position: relative;
	display: inline-flex;
	left: 42%;
	border-color: black;
	align-items: center;
	border-radius: 50%;
}

